<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Weather App and forecast">
    <meta name="keywords" content="weather, forecast, rainbow">
    <meta name="author" content="MurasakiAki">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Display</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="icon">
        <img src="season.png" alt="season">
    </div>
    <form id="locationForm" method="post" action="/process-location">
        <textarea name="locationName" id="loc_name" cols="1" rows="1"></textarea>
        <button type="submit">Search</button>
    </form>
</body>
</html>
